[submodule "blog/themes/PaperMod"]
	path = blog/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "blog/themes/hugo-notice"]
	path = blog/themes/hugo-notice
	url = https://github.com/martignoni/hugo-notice.git
